{% extends 'layouts/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% if app.user %}
<div id="root"></div>
<h1>Bienvenue sur Qu!zzUp, {{ app.user.pseudo }} !</h1>
<form method="post" action="{{ path('app_logout') }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <input type="submit" value="Déconnexion">
</form>
{% else %}
<h1>Bienvenue sur Qu!zzUp ! <a href="{{ path('app_login') }}">Cliquez ici pour vous connecter</a></h1>
{% endif %}

{% block javascripts %}
<script type="text/babel">
    function Mycomponent() {
        return <div>Test !!!</div>
    }
    ReactDOM.render(
        <MyComponent />, document.getElementById('root'))
</script>
{% endblock %}
{% endblock %}