<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzup !</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script src="/js/burgerMenu.js" defer></script>
</head>

<body>

    <nav>
        <div class="allNav">
            <div class="navLeft">
                <ul class="navUl">
                    <li><a class="navLi" href=""><svg class="navLogoHome" width="28" height="23" viewBox="0 0 28 23"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.3333 22.6667V14.6667H16.6666V22.6667H23.3333V12H27.3333L14 0L0.666626 12H4.66663V22.6667H11.3333Z"
                                    fill="#FFB400" />
                            </svg>
                        </a></li>
                    <li><a class="navLi" href="">Rejoindre une partie</a></li>
                    <li><a class="navLi" href="">Classements</a></li>
                    <li><a class="navLi" href="">Créer un quizz</a></li>
                </ul>
            </div>
            <div class="navRight">
                <form>
                    <div class="skew">
                        <input class="field" type="text" placeholder="Rechercher un quizz">
                    </div>
                    <svg class="navLogoLoupe" width="52" height="49" viewBox="0 0 52 49" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="26" cy="24.5" rx="26" ry="24.5" fill="#FFB400" />
                        <path
                            d="M23.2917 14.25C25.1592 14.25 26.9503 14.9919 28.2709 16.3125C29.5914 17.633 30.3333 19.4241 30.3333 21.2917C30.3333 23.0358 29.6942 24.6392 28.6433 25.8742L28.9358 26.1667H29.7917L35.2083 31.5833L33.5833 33.2083L28.1667 27.7917V26.9358L27.8742 26.6433C26.5964 27.734 24.9716 28.3332 23.2917 28.3333C21.4241 28.3333 19.633 27.5914 18.3125 26.2709C16.9919 24.9503 16.25 23.1592 16.25 21.2917C16.25 19.4241 16.9919 17.633 18.3125 16.3125C19.633 14.9919 21.4241 14.25 23.2917 14.25ZM23.2917 16.4167C20.5833 16.4167 18.4167 18.5833 18.4167 21.2917C18.4167 24 20.5833 26.1667 23.2917 26.1667C26 26.1667 28.1667 24 28.1667 21.2917C28.1667 18.5833 26 16.4167 23.2917 16.4167Z"
                            fill="#124E78" />
                    </svg>
                </form>

            </div>
        </div>
    </nav>

</body>

</html>